Aluna: Maria Giulia Martins

RA: 202819

# Enunciado

Escreva um programa em Flex/PLY capaz de detectar em um texto digitado:

* números inteiros positivos e negativos (10, -85, ...);
* números em hexadecimal (0xFF, 0X123, ...);
* números reais positivos e negativos com ponto decimal (2.765, -3.543, ...);
* números com expoentes decimais inteiros (1.56E2, -1.56e-2, ...).

Ao detectar um número, o programa deve imprimir seu tipo e o dobro de seu valor númerico (semântico). Para converter o número detectado (string) em seu valor numérico utilize as seguintes funções:

C++:

    int i = atoi("123");
    long l = strol("0xFF", NULL, 16);
    double d = strtod("3.14", NULL);

Python:

    i = int("123")
    l = int("0xFF", 16)
    d = float("3.14")

Onde deve se dar a conversão e impressão? Em Flex na seção de Ações; em PLY nas funções t_XXXX(t).

O aluno poderá submeter um texto em PDF, uma foto, ou o próprio programa (.l ou .py).

# Programa

In [ ]:
#bibliotecas
import sys
sys.path.append("../..")
from ply import *


#tokens
tokens = ['INT_NUMBER', 'HEX_NUMBER', 'REAL_NUMBER', 'EXP_NUMBER']


#função que define um número inteiro
def t_INT_NUMBER(t):
  r'\d+'
  i = int(t)
  print("Valor inserido:", t)
  print("Tipo de", t, end='')
  print(":", type(i))
  print("Dobro de", t, end='')
  print(":", 2*i)

#função que define um número hexadecimal
def t_HEX_NUMBER(t):
  r'\d+'
  h = int(t, 16)
  print("Valor inserido:", t)
  print("Tipo de", t, end='')
  print(":", type(hex(h))) #note que o retorno da função hex() é uma string do número decimal
  print("Dobro de", t, end='')
  print(" em hexadecimal:", (hex(2*h)).upper()) #string.upper() usado para deixar o número em letras maiúsculas
  print("Dobro de", t, end='')
  print(" em decimal:", 2*h)

#função que define um número real
def t_REAL_NUMBER(t):
  r'\d+'
  r = float(t)
  print("Valor inserido:", t)
  print("Tipo de", t, end='')
  print(":", type(r))
  print("Dobro de", t, end='')
  print(":", 2*r)

#função que define um número com expoente inteiro
def t_EXP_NUMBER(t):
  r'\d+'
  e = float(t)
  print("Valor inserido:", t.upper())#string.upper() usado para deixar o número em letras maiúsculas
  print("Tipo de", t.upper(), end='')#string.upper() usado para deixar o número em letras maiúsculas
  print(":", type(e))
  print("Dobro de", t.upper(), end='')#string.upper() usado para deixar o número em letras maiúsculas
  print(" em decimal:", 2*e)
  print("Dobro de", t.upper(), end='')#string.upper() usado para deixar o número em letras maiúsculas
  print(" em notação científica:", "{:.2e}".format(2*e))

# Testes

## Para valores Inteiros

In [ ]:
t_INT_NUMBER("50")

Valor inserido: 50
Tipo de 50: <class 'int'>
Dobro de 50: 100

In [ ]:
t_INT_NUMBER("-25")

Valor inserido: -25
Tipo de -25: <class 'int'>
Dobro de -25: -50

## Para valores Hexadecimais

In [ ]:
t_HEX_NUMBER("0xFF")

Valor inserido: 0xFF
Tipo de 0xFF: <class 'str'>
Dobro de 0xFF em hexadecimal: 0X1FE
Dobro de 0xFF em decimal: 510

In [ ]:
t_HEX_NUMBER("-0xAF")

Valor inserido: -0xAF
Tipo de -0xAF: <class 'str'>
Dobro de -0xAF em hexadecimal: -0X15E
Dobro de -0xAF em decimal: -350

## Para valores Reais

In [ ]:
t_REAL_NUMBER("3.14")

Valor inserido: 3.14
Tipo de 3.14: <class 'float'>
Dobro de 3.14: 6.28

In [ ]:
t_REAL_NUMBER("-0.57")

Valor inserido: -0.57
Tipo de -0.57: <class 'float'>
Dobro de -0.57: -1.14

## Para valores com Exponenciais formdos por Números Inteiros

In [ ]:
t_EXP_NUMBER("1.56e2")

Valor inserido: 1.56E2
Tipo de 1.56E2: <class 'float'>
Dobro de 1.56E2 em decimal: 312.0
Dobro de 1.56E2 em notação científica: 3.12e+02

In [ ]:
t_EXP_NUMBER("-1.56e2")

Valor inserido: -1.56E2
Tipo de -1.56E2: <class 'float'>
Dobro de -1.56E2 em decimal: -312.0
Dobro de -1.56E2 em notação científica: -3.12e+02

In [ ]:
t_EXP_NUMBER("1.5e-3")

Valor inserido: 1.5E-3
Tipo de 1.5E-3: <class 'float'>
Dobro de 1.5E-3 em decimal: 0.003
Dobro de 1.5E-3 em notação científica: 3.00e-03

In [ ]:
t_EXP_NUMBER("-1.5e-3")

Valor inserido: -1.5E-3
Tipo de -1.5E-3: <class 'float'>
Dobro de -1.5E-3 em decimal: -0.003
Dobro de -1.5E-3 em notação científica: -3.00e-03